*.pyc
*.npy
*.npz
*.pth
*.json
*.log

*.jpg
*.png

*.wav
*.m4a
*.mp4
*.flac

*~
.vscode/
venv/

# Exclude all mp3 files
*.mp3

# But include mp3 files in the website directory
!website/**/*.mp3

